extends ../layout

block content

  h1(class='page-header') Yarn inventory

  table(class='table')
    thead
      th Name
      th Colorway
      th Weight
      th Yardage
      th Ounces
      th
    tbody
      tr
        td
        td
        td
        td
        td
        td
